html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    position: relative;
    min-height: 100%;
  }

  .content  {
    padding-bottom: 100px;
  }

body.fixed-nav {
    padding-top: 100px;
    /*для меню*/
}

.test {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
    margin-top: -20px;
    padding: 0;
    vertical-align: center;

}


.igems {
    vertical-align: bottom;
    align-items: top;
    display: flex;
    text-align: left;
    color: aliceblue;
    font-size: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 10px rgb(55, 55, 55);
    z-index: 200;
}

.index {
    width: 100%;
    background-image: url("img/main.JPG");
    background-size: cover;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding-left: 10px;
    z-index: 999;

}

.svglogo {
    text-shadow: 9px 9px #ffffff;
}

.content {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: normal;
    font-style: normal;
    font-weight: 5;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2%;
}




@keyframes ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.top_menu {
    background-color: rgb(182, 207, 211);
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    align-content: space-around;
    /* border: 1px solid black; */
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 999;
}

.top_menu>* {
    flex: 1;
    top: 0;
}

nav {
    position: sticky;

}

.top_menu_button {
    /* display: block; */
    /* text-align: center; */
    transition: 200ms linear;

    /* margin: 0; */
    /* padding-left: 1em;
    padding-right: 1em; */
    /* align-content: center; */
    /* position: relative; */
    /* padding: 1em; */
    /* border: 1px solid black; */
}

.top_menu_button:hover {
    transition: 200ms linear !important;
    background-color: rgb(93, 175, 188);
    opacity: 80%;
}

/* EXPERIMENTAL!!! Rays from gems */
.gem_rays_container {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    /* border: 1px solid black; */
    width: 100%;
    z-index: -1;
    /* opacity: 0; */
}

.green_ray {
    background-color: green;
    width: 200px;
    height: 20px;
    /* opacity: 0; */
    box-shadow: 0px 250px 40px pink;
}

.blue_ray {
    background-color: blue;
    width: 24%;
    height: 20px;
    /* opacity: 0; */
    box-shadow: 0px 250px 70px rgb(11, 165, 192);
}

.red_ray {
    background-color: lightcoral;
    width: 25%;
    height: 20px;
    /* opacity: 0; */
    box-shadow: 0px 250px 70px lightcoral;
}

.no_ray {
    width: 10%;
    height: 20px;
}

.top_menu_button p {
    margin: 0;
}

.top_menu_button a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    color: inherit;

}

.link {
    color: rgb(106, 106, 106);
    transition: 200ms linear;
    text-decoration: none;
}

.link:hover {
    transition: 200ms linear;
    color: rgba(240, 240, 240, 0.895);
    text-decoration-color: rgba(240, 240, 240, 0.895);
}

.big-word {
    padding-left: 7%;
    padding-right: 5%;
    padding-top: 20px;
    /* padding-bottom: 1%; */

}

.inside_block_text {
    /* border: 1px solid darkgrey; */
    padding: 1em;
    margin: 0.3em;
    vertical-align: middle;
    text-align: justify;
    border-radius: 1em;
    font-size: 18px;
    opacity: 0;
    height: auto;
    width: max-content;
    min-width: 30%;
    max-width: 40%;
    align-self: stretch;
    animation: ani 1.5s forwards;
    background: linear-gradient(145deg, #e7e7e7, #f0f0f0);
    box-shadow: 41px 41px 82px #b8b8b8,
        -41px -41px 82px #ffffff;
}

@keyframes ani {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.inside_block_img-1 {
    width: auto;
    margin: 1em;
    height: 400px;

    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.inside_block_img-1 img {
    width: auto;
    height: 120%;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    /* width: 400px;  */
}

/* new version of top menu below*/
ul {
    padding: 0;
}

li {
    display: inline;
}

a {
    outline: none;
    text-decoration: none !important;
    text-decoration-thickness: 5px;
    text-underline-offset: 14px;
    display: inline-block;
    /* width: 23.3%; */
    margin-right: 0;
    margin-left: 0;
    text-align: center;
    line-height: 3;
    color: black;
    transition: 100ms linear;
    padding: 2px;

}

/* переливающаяся иконка */

path {
    transition: all 0.1s ease;
}

path:hover {
    fill: rgb(208, 249, 255);
}

svg:hover {
    fill: black;
    color: aqua;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-holder {
    background-color: rgb(209, 209, 209);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    align-content: center;
    justify-content: space-between;
    /* margin-top: -100px; */
    padding: 1%;
    height: 150px;
    /* position: fixed; */
    bottom: 0;
    left: 0;
    width: 100%;
}

.contacts {
    padding: 2%;
}



/* page 404 style */

.page404 {
    margin: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.in404 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* Stock page styles */

.stock_base {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.product_card {
    width: 20%;
    margin: 1em;
    padding: 1em;
    text-align: center;
    border-radius: 0.5em;
    background: linear-gradient(145deg, #e7e7e7, #f0f0f0);
    box-shadow: 15px 15px 31px #a4a4a4,
        -15px -15px 31px #ffffff;
    min-width: 300px;
    transition: 0.2s linear;
    fill-opacity: 80%;

}

.product_card:hover {
    fill-opacity: 100%;
    background: linear-gradient(145deg, #e5e5e5, #f0f0f0);
    box-shadow: 5px 5px 21px #a4a4a4,
        -5px -5px 21px #ffffff;
}

.stock_table-name {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1%;
    margin-top: 3%;
}

.stock_image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 1em;
}

.stock_image-container img {
    object-fit: cover;

}

/* Contacts */

.contacts_container {
    margin: 1%;
    padding: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
    /* border: 1px solid black; */
    height: 100%;

}

.map-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    margin: 1%;
    padding: 3%;
    /* overflow: hidden; */
    /* border: 1px solid black; */
}

.map-corners {
    border-radius: 1em;
    overflow: clip;
    /* border: 1px solid black; */
    box-shadow: 41px 41px 82px #b8b8b8,
        -41px -41px 82px #ffffff;
}

.contacts_block_text {
    /* border: 1px solid darkgrey; */
    margin: 1em;
    padding: 1em;
    vertical-align: middle;
    text-align: justify;
    border-radius: 1em;
    font-size: 18px;
    opacity: 0;
    animation: ani 1.5s forwards;
    background: linear-gradient(145deg, #e7e7e7, #f0f0f0);
    box-shadow: 41px 41px 82px #b8b8b8,
        -41px -41px 82px #ffffff;
}

/* product card */

.productcard_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    align-self: center;
    padding: 2em;
    align-self: center;

}

.productcard_album {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    outline: hidden;
    width: 20em;
    height: 20em;
    border-radius: 1em;
    overflow: hidden;
    

    /* width: 400px; */
    box-shadow: 41px 41px 82px #b8b8b8,
        -41px -41px 82px #ffffff;
}

.productcard_album img {
    object-fit: scale-down;
    display: block;
    /* margin-left: -25%; */
    margin-right: auto;
    width: auto;
    height: 100%;
}

.productcard_text {
    padding-left: 10em;
    position: sticky;
}