body {
    overflow-x: hidden;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    color: #fff;
    width: 100%;
    max-width: 100%;
}

/* div {
    border: 1px solid black;
} */

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

*,
*:before::after {
    box-sizing: border-box;
}


.header {
    /* width: 90%; */
    /* position: absolute; */
    top: 0;
    left: 0;
    /* height: 60vh; */
    width: 100%;
    /* max-width: 1900px; */
    z-index: 100;
    /* padding: 20px; */
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    margin: auto;
    position: relative;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    text-align: center;
}

.menu {
    /* background-color: #d5d5d524; */
    position: fixed;
    z-index: 150;
    opacity: 1;
}

.header-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    background-color: #b5b5b500;
    transition: .2s linear;
}

@media (prefers-reduced-motion: no-preference) {
    .header-inner {
        display: "";
        /* transition: opacity 1.5s ease; */
    }
}

.header-inner-transition {
    background-color: #b5b5b5;
    /* transform: none; */
}

.header-inner:hover {
    background-color: #b5b5b5;
}

/* .header-inner:hover {
    background-color: #b5b5b5;
} */

/* @keyframes headerback  {
    0%  {
        background-color: #b5b5b500;
    }
    100%    {
        background-color: #b5b5b5;

    }
} */

.header_logo {
    position: relative;
}

.header_logo img {
    margin: 10px;
    height: 100px;
    transition: .3s linear;
}

.header_logo:hover img {
    fill: #3a3a3a;
    -webkit-filter: invert(50%);
    filter: invert(50%);
}

.navbar {
    position: sticky;
    font-size: 15px;
    color: #d5d5d5;
    text-transform: uppercase;
    max-width: 90%;
    top: 0;
    left: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: #ececec;
    transition: color .2s linear;
    /* vertical-align: top; */
    margin: 0 10px;
    font-size: 20px;
    transition: .2s linear;
}

.nav-link:hover {
    /* -webkit-filter: invert(50%);
    filter: invert(50%); */
    color: #3a3a3a;
}

.nav-link:pointer {
    -webkit-filter: invert(50%);
    filter: invert(50%);
}

.hidden-link {
    text-decoration: none;
    color: #ececec;
    transition: color .2s linear;
    /* vertical-align: top; */
    /* margin: 0 10px; */
    font-size: 20px;
    transition: .2s linear;
}

.menu-button-dropdown {
    position: relative;
    display: inline-block;
    transition: 0.4s linear;
    /* text-align: center; */

}

.menu-button-dropdown:checked .submenu {
    visibility: visible;
    padding: auto;
    text-align: left;
    color: #3a3a3a;
    opacity: 1;
    transform: translateY(0);
    display: block;
}

.submenu {
    display: block;
    position: absolute;
    padding: 5px;
    /* left: 0; */
    top: 100%;
    /* text-decoration: none; */
    color: #ececec;
    /* background-color: #b5b5b5; */
    min-width: 90%;
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 100;
    opacity: 0;
    transition: 0.2s ease;
    visibility: hidden;
    transform: translateY(-10px);
    text-align: left;
    background-color: #b5b5b5;
}

.submenuhref {
    color: #3a3a3a !important;
    /* text-decoration: none; */
}

.menu-button-dropdown:hover .submenu {
    visibility: visible;
    padding: auto;
    text-align: left;
    color: #3a3a3a;
    opacity: 1;
    transform: translateY(0);
    display: block;
    /* background-color: #b5b5b5; */
    /* color: #fff; */
}

.submenu a {
    text-decoration: none;
    color: #ececec;
    width: auto;
}

/* .menu-button-dropdown:hover {
    background-color: rgb(203, 198, 193);
    display: "";
} */

.menu-button-dropdown-content {
    display: none;
    /* position: absolute; */
    background-color: #f1f1f1;
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
    z-index: 1;
    /* margin: auto; */
}

.menu-button-dropdown-content:hover {
    color: #3a3a3a;
}

.intro {
    display: flex;
    /* flex-direction: column; */
    position: relative;
    /* margin: 0 auto; */
    width: 100%;
    height: 100vh;
    margin-bottom: 20px;
    background: url(/img/main.JPG) center no-repeat;
    /* background-attachment: fixed; */
    opacity: .9;
    background-size: cover;
    -webkit-background-size: cover;

}

.side {
    height: 30vh;
}

.intro_title {
    /* margin: 150px; */
    /* position: fixed; */
    text-transform: uppercase;
    text-align: left;
    padding-left: 2%;
    position: relative;
    width: 90%;
    max-width: 600px;
    opacity: 1;
    transition: opacity 0.7s ease;
    /* margin: auto; */
}

.intro_title.fade-out {
    opacity: 0;
}

.intro_title.fade-in {
    opacity: 1;
}

.intro_bigtitle {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 0px 0px 20px #3a3a3a;
}

@media screen and (min-width: 1001px) {
    .intro_bigtitle {
        font-size: 110px;
    }
}

;

@media screen and (max-width: 1000px) {
    .intro_bigtitle {
        font-size: 40px;
    }
}

;


.intro_stitle {
    max-width: 30%;
    font-size: 30px;
    max-width: 15%;
    color: #ffffff;
    text-shadow: 0px 0px 20px #3a3a3a;
}

@media screen and (min-width: 1001px) {
    .intro_stitle {
        font-size: 50px;
    }
}

;

@media screen and (max-width: 1000px) {
    .intro_stitle {
        font-size: 20px;
    }
}

;


.page_content {
    display: block;
    justify-content: center;
    /* height: 100vh; */
    position: absolute;
    margin: auto;
    padding: 10px;
    width: 100%;
    padding-top: 50px;
    z-index: 2;
    background-color: #ececec;
    font-family: 'Montserrat', sans-serif;
}

/* page content*/
.content {
    color: #3a3a3a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: auto; */
    align-items: stretch;
    width: 100%;
    display: flex;
    /* margin: 1% auto; */
    /* padding: 10px; */
}

.content-text {
    width: 500px;
    /* max-width: 50%; */
    min-width: 50%;
    margin: 10px;
    padding: 10px;
    /* margin: auto; */
    background-color: #f7f7f7;
    border-radius: 5px;
    font-size: 20px;
}

.content-img {
    display: flex;
    width: 50vh;
    max-width: 100%;
    overflow: hidden;
    margin: 10px;
    background-color: #f7f7f7;
    padding: 2px;
    border-radius: 5px;
    font-size: x-large;

}

.content-img img {
    border-radius: 3px;
}

.main-page-img {
    width: 500px;

}

/*404 page*/
.page404 {
    color: #3a3a3a;
}

/*product card page*/
.productcard_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: top;
    margin-top: 5%;
    /* height: 100%; */
    align-self: center;
    padding: 2em;
}

.productcard_album {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    outline: hidden;
    width: 20em;
    height: 20em;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: 41px 41px 82px #b8b8b8,
        -41px -41px 82px #ffffff;
    transition: 0.5s linear;
}

.productcard_album:hover {
    box-shadow: 11px 11px 22px #b8b8b8,
        -61px -61px 82px #ffffff;
    transition: 0.5s linear;

}

.productcard_album img {
    object-fit: scale-down;
    display: block;
    margin-right: auto;
    width: auto;
    height: 100%;
}

.productcard_text {
    padding-left: 5%;
    position: sticky;
    color: #3a3a3a;
}

/*CAROUSEL*/

* {
    box-sizing: content-box;
}
.mySlides {
    display: none
}

img {
    vertical-align: middle;
    overflow: hidden;
}

/* Slideshow container */
.slideshow-container {
    max-width: auto;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
/* .fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
} */

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/*gem blink*/

path {
    transition: all 0.1s ease;
}

path:hover {
    fill: rgb(208, 249, 255);
}

svg:hover {
    fill: black;
    color: aqua;
}