body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    color: #fff;
    width: 100%;
}

/* div {
    border: 1px solid black;
} */

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

*,
*:before::after {
    box-sizing: border-box;
}


.header {
    /* width: 90%; */
    position: absolute;
    top: 0;
    left: 0;
    height: 60vh;
    width: 100%;
    /* max-width: 1900px; */
    z-index: 100;
    /* padding: 20px; */
    margin: 0;
    overflow: hidden;
}

.container {
    width: 100%;
    margin: auto;
    position: relative;
    padding-bottom: 10px;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    text-align: center;
}

.menu {
    /* background-color: #d5d5d524; */
    position: fixed;
    z-index: 150;
    opacity: 1;
}

.header_inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 30px; */
    margin: 0 auto;
}

.header_logo {
    position: relative;
}

.header_logo img {
    margin: 10px;
    height: 100px;
    transition: .3s linear;
}

.header_logo:hover img {
    fill: #3a3a3a;
    -webkit-filter: invert(50%);
    filter: invert(50%);
}

.navbar {
    position: sticky;
    font-size: 15px;
    color: #d5d5d5;
    text-transform: uppercase;
    width: 50%;
    top: 0;
}

.nav-link {
    text-decoration: none;
    color: #ececec;
    transition: color .2s linear;
    vertical-align: top;
    margin: 0 10px;
    font-size: 20px;
    transition: .2s linear;
}

.nav-link:hover {
    -webkit-filter: invert(50%);
    filter: invert(50%);
}

.nav-link:pointer   {
    -webkit-filter: invert(50%);
    filter: invert(50%);
}

.intro {
    display: flex;
    /* flex-direction: column; */
    position: relative;
    /* margin: 0 auto; */
    width: 100%;
    height: 100vh;
    background: url(/img/main.JPG) center no-repeat;
    /* background-attachment: fixed; */
    opacity: .9;
    background-size: cover;
    -webkit-background-size: cover;

}

.intro_title {
    /* margin: 150px; */
    /* position: fixed; */
    text-transform: uppercase;
    text-align: left;
    padding-left: 2%;
    position: relative;
    width: 100%;
    max-width: 600px;
    /* margin: auto; */
}

.intro_bigtitle {
    font-size: 50px;
    color: #ffffff;
    text-shadow: 0px 0px 20px #3a3a3a;
}
@media screen and (min-width: 1001px) { .intro_bigtitle {font-size: 110px;}};
@media screen and (max-width: 1000px) { .intro_bigtitle {font-size: 40px;}};


.intro_stitle {
    max-width: 30%;
    font-size: 30px;
    max-width: 15%;
    color: #ffffff;
    text-shadow: 0px 0px 20px #3a3a3a;
}
@media screen and (min-width: 1001px) { .intro_stitle {font-size: 50px;}};
@media screen and (max-width: 1000px) { .intro_stitle {font-size: 20px;}};


.page_content {
    display: block;
    justify-content: center;
    /* height: 100vh; */
    position: absolute;
    margin: auto;
    width: 100%;
    z-index: 2;
    background-color: #ececec;
    font-family: 'Montserrat', sans-serif;
}

/* page content*/
.content {
    color: #3a3a3a;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: auto; */
    align-items: stretch;
    width: 100%;
    display: flex;
    margin: 1% auto;
    padding: 10px;
}

.content-text {
    width: 500px;
    /* max-width: 50%; */
    min-width: 50%;
    margin: 10px;
    padding: 10px;
    /* margin: auto; */
    background-color: #f7f7f7;
}

.content-img {
    display: flex;
    width: 40vh;
    max-width: 100%;
    overflow: hidden;
    margin: 10px;
    background-color: #f7f7f7;
    padding: 2px;
    border-radius: 5px;
    
    transition: .2s linear;
}

.content-img    img {
    border-radius: 3px;
}

.main-page-img {
    width: 500px;

}