.stock_base {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.product_card {
    display: flex; /*replace NONE with FLEX for work, NONE is for filters */
    justify-content: center;
    width: 20%;
    margin: 1em;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    /* background: linear-gradient(145deg, #e7e7e7, #f0f0f0); */
    min-width: 300px;
    transition: 0.2s linear;
    fill-opacity: 80%;
}

.product_card a {
    text-decoration: none !important;
    color: rgb(79, 79, 79);
}

.product_card a:hover {
    color: rgb(32, 32, 32);
}

.product_card:hover {
    fill-opacity: 100%;
    background: linear-gradient(145deg, #e5e5e5, #f0f0f0);
    box-shadow: 5px 5px 21px #a4a4a4,
        -5px -5px 21px #ffffff;
}

.stock_table-name {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1%;
    margin-top: 3%;
}

.stock_image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.stock_image-container img {
    object-fit: cover;
}

/*gem blink*/

path {
    transition: all 0.1s ease;
}

path:hover {
    fill: rgb(208, 249, 255);
}

svg:hover {
    fill: black;
    color: aqua;
}

/* news page */
.newspage   {
    display: flex;
    justify-content: baseline;
}
.news_table {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;
    text-decoration: none !important;
    min-width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    font-size: 20px;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    min-width: 300px;
    /* transition: 0.2s linear; */
    fill-opacity: 80%;
    color: rgb(79, 79, 79);
}

.news_table2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    columns: auto;
    text-decoration: none !important;
    min-width: 50%;
    margin: 10px;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 5px;
    font-size: 20px;
    /* justify-content: center; */
    margin: 1em;
    padding: 1em;
    border-radius: 5px;
    min-width: 300px;
    /* transition: 0.2s linear; */
    fill-opacity: 80%;
    color: rgb(79, 79, 79);
}

.news_text  {
    padding: 20px;
    max-width: 50%;
}

/*Filter styles*/
.filter_holder   {
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    width: 80%;
}

.btn-group  {
    margin: 50%;
    padding: 50%;
    display: flex; /*replace NONE with FLEX for work, NONE is for filters */
    justify-content: center;
    flex-direction: column;
    width: 20%;
    margin: 1em;
    padding: 1em;
    text-align: center;
    border-radius: 5px;
    /* background: linear-gradient(145deg, #e7e7e7, #f0f0f0); */
    min-width: 300px;
    transition: 0.2s linear;
    fill-opacity: 80%;
    

}

.btn-default    {
    margin: 0.5em;
    width: 50px;
    height: 50px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    transition: 0.5ms linear;
}

.btn-default a    {
    text-decoration: none !important;
    color: rgb(79, 79, 79);
}

.btn-default a:hover {
    color: rgb(32, 32, 32);
}

.btn-default:hover {
    transition: 0.5ms linear;

    fill-opacity: 100%;
    background: linear-gradient(145deg, #e5e5e5, #f0f0f0);
    box-shadow: 5px 5px 21px #a4a4a4,
        -5px -5px 21px #ffffff;
}